@using DTOs
@model WebMVC.Models.AltaMovimientoStockViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Movimiento de Stock</h1>
<span>@ViewBag.error</span>
<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="ArticuloId" class="control-label"> Artículos: </label>
                <br />
                <select class="form-select" name="ArticuloId">
                    @if (Model.ArticuloId == 0)
                    {
                        <option value="" selected>Seleccione...</option>
                    }
                    @foreach (ArticuloDTO art in Model.ArticuloDTOs)
                    {

                        @if (art.Id == Model.ArticuloId)
                        {
                            <option value="@art.Id" selected>@art.Nombre</option>
                        }
                        else
                        {
                            <option value="@art.Id">@art.Nombre</option>
                        }

                    }
                    <span asp-validation-for="ArticuloId" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group m-3">
                <label asp-for="TipoMovimientoId" class="control-label"> Tipo de movimiento: </label>
                <br />
                <select class="form-select" name="TipoMovimientoId">
                    @if (Model.TipoMovimientoId == 0)
                    {
                        <option value="" selected>Seleccione...</option>
                    }
                    @foreach (TipoMovimientoDTO tp in Model.TiposMovimientoDTO)
                    {

                        @if (tp.Id == Model.ArticuloId)
                        {
                            <option value="@tp.Id" selected>@tp.Nombre</option>
                        }
                        else
                        {
                            <option value="@tp.Id">@tp.Nombre</option>
                        }

                    }
                    <span asp-validation-for="TipoMovimientoId" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group m-3">
                <label asp-for="Cantidad" class="control-label"></label>
                <br />
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <!--
            <div class="form-group m-3 visually-hidden">
                <label asp-for="EmailUsuario" class="control-label"></label>
                <br />
                <input asp-for="EmailUsuario" class="form-control"/>
                <span asp-validation-for="EmailUsuario" class="text-danger"></span>
            </div>
            -->
            <div class="form-group m-3">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListarMovimientosStock" class="btn btn-secondary">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
